@use 'partials/fonts/dashicons';
// Libre Franklin font declaration
$Libre-Franklin: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Vargas font declaration
@font-face {
    font-family: 'Vargas';
    src: url('fonts/vargas__-webfont.eot');
    src: url('fonts/vargas__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vargas__-webfont.woff2') format('woff2'),
         url('fonts/vargas__-webfont.woff') format('woff'),
         url('fonts/vargas__-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$Vargas: 'Vargas', 'Georgia', serif;

// Colours
$black: #000;
$black-rgb: rgb(0,0,0);
$black-rgba: rgba(0,0,0,.3);
$white: #fff;
$very-pale-yellow: #fffdcc;
$vivid-yellow: #ffca1c;

// OVERRIDES
// Media Queries
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 960px;
    }
}

// Page Backgrounds
body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $black;
    color: $white;
    font-size: 18px;
}

.page-container {
    background: transparent url('img/bg-content.png') 0 0 repeat; /* Fallback */
    background: rgba(0,0,0,.6);
    padding: 0;
}

//CSS3 FadeIn
#page {
  animation: fadein 5s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

// Header
.header {
    background: $black-rgb; /* Fallback */
    // background: rgba(0,0,0,.4);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 15%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 15%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 15%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

// Titles
.site-title, .page-title {
    font-family: $Vargas;
    text-align: center;
    // color: $white;
    font-weight: bold;

    a {
        color: $white;
        // color: $very-pale-yellow;
        text-decoration: none;

        &:hover, &:active, &:focus { color: $very-pale-yellow; }
    }
}
.site-title {
    color: $white;
    // color: $very-pale-yellow;
    font-size: 2.75em;
    margin-bottom: 0;
    padding: 1.75em 0 .75em;
}
.page-title {
    // color: $white;
    color: $vivid-yellow;
    margin-bottom: .75em;
    padding-top: 1.75em;
}

// Main Menu
#mainmenu {
    background: transparent !important;
    // background: $black-rgb !important; /* Fallback */
    // background: $black-rgba !important; /* Fallback */
    font-family: $Vargas;
    // font-family: $Libre-Franklin;
    text-transform: lowercase;
    font-weight: bold;

    .nav-item {
        .nav-link {
            color: $white;
            padding: 1.5em 1.25em 1em;

            &:hover, &:active, &:focus { color: $vivid-yellow; }
        }

        //active page menu colour
        &.active a {
            // text-decoration: underline;
            color: $very-pale-yellow;
        }
    }
}

// Content
#content {
    font-family: $Libre-Franklin;
    padding: 0 5em 2em;

    a {
        color: $vivid-yellow;
        text-decoration: none;

        &:hover, &:active, &:focus { border-bottom: dashed 1px #ffca1c; }
    }
}

// Footer
.footer {
    background: $black-rgb; /* Fallback */
    // background: $black-rgba;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    padding: 1.5em 0 1.5em;

    .socialmediacontainer {
        text-align: center;

        a {
            color: $white;

            &:hover, &:active, &:focus {
                color: $vivid-yellow;
                text-decoration: none;
            }
        }

        .dashicons {
            font-size: 32px;
            width: 32px;
            max-width: 100%;
            height: auto;
            margin: 0 .25em;
        }
    }
}

// Sticky Footer
.mt-auto {
    margin-top: auto!important;
}